@import "../common.styl"

.main-menu
    box-sizing border-box
    fixed(0, auto, 0, 0)
    width mainMenuWidth
    border-right 1px solid cSeparator
    background cMainMenu
    height 100%
    overflow auto
    z-index 10

    &.collapsed
        display none

    .menu-title
        text-align center
        line-height 32px
        font-size 14px
        background cSelection
        border-top 4px solid cSeparator

    .menu-group
        border-bottom 1px solid cSeparator

    .menu-group-title
        padding 4px 0 4px 0
        text-align center

    .menu-items
        padding-bottom 32px

    .menu-item
        display block
        padding 8px 4px 8px 16px
        text-decoration none
        font-size 12px
        border-top 1px solid rgba(cSeparator, .3)

        @media all and (max-width: notPCWidth)
            font-size 14px
            padding 12px 12px

        &:hover
            background cSelection
