.check-list
    if field.multiple
        .check-list-actions
            label
                input.toggle-check-all(type="checkbox")
                | &nbsp;全部选择/不选择
    .field-actions-bar
        a.fw-field-hide-options.field-action-btn(href="javascript:") 隐藏
    br
    .list
