include ../FieldItemMixin

+FieldItem(field, fClass)
    -var m = value && moment(value)
    .fw-field-item-input.input-date(class=fClass)
        input.date-picker(value=m && m.format("YYYY-MM-DD"))
